$text-regular:16px;
$text-small:15px;
$text-heading:99px;
$text-smallheading:90px;
$text-smallsmallheading:60px;
$text-button:24px;

$font-extraextrathin:100;
$font-extrathin:200;
$font-thin:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-extrabold:800;
$font-extraextrabold:900;

$color-black:#000000;
$color-btn:#D01C28;
$color-gray:#5A5959;